.container{
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
}

.input{
    display: inline-block;
    width: 100%;
}

.searchbar{
    padding: 4px 16px 12px;
    color: #606770;
    background-color: #F2F3F5;;
    width: 100%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.searchbar>input{
   background-color:  #F2F3F5;
   border: none;
   margin-left: 10px;
   width: 95%;

}

@media screen and (max-width: 1024px) {
    .container{
        display: none;
    }
}

@media screen and (max-width: 768px) {

}