.container_searchbar{
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
}

.input{
    display: inline-block;
    width: 100%;
    outline: 0px;
}

.searchbar{
    padding: 4px 16px 12px;
    color: #606770;
    background-color: #F2F3F5;;
    width: 100%;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    padding-left: 20px;
}

.searchbar>input{
   background-color:  #F2F3F5;
   border: none;
   margin-left: 10px;
   width: 95%;
   outline: 0px;

}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    .container_searchbar{
        display: none;
    }
    .avatar_boxchat{
        padding: 10px;
    }
}