.container {
  display: flex;
}
.col1 {
  flex: 0 0 25%;
  border: 3px solid;
}
.col2 {
  flex: 0 0 75%;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .row .col {
    padding-left: 0;
    padding-right: 0;
  }
  .col1 {
    flex: 0 auto;
    width: 70px;
  }
}
